body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 240px;
}

th {
    background-color: #18bc9c;
    color: white;
}

#mainRow {
    margin-top: 60px;
}

.bold {
    font-weight: bold;
    display: inline;
}

.inline {
    all: unset;
    display: inline;
}

#uploadFileDiv {
    margin-top: 20px;
}

#sendDiv {
    margin-top: 30px;
    padding: 10px;
}

#fileNameLabel {
    height: 20px;
    position: relative;
    display: block;
}

#statisticsDiv {
    margin-top: 20px;
    padding: 10px;
}

#chooseMap {
    display: inline-block;
    margin-top: 20px;
}

#dropDownList {
    margin-bottom: 100px;
}

#detailsData {
    margin-bottom: 100px;
}

#detailsDataIndex {
    margin-bottom: 100px;
    display: none;
}

.routesOperationsTitle {
    margin-top: 60px;
}

#deleteButton {
    margin-bottom: 20px;
}

.map {
    width: 100%;
    min-height:550px;
    height: 100%;
}

#googleMap {
    display: none;
}

#openStreetMap {
    display: none;
}

#bingMap {
    display: block;
}

#chartDiv {
    width: 100%;
    min-width: 750px;
    height: 180px;
    display: none;
}

#elevationChart {
    width: 100%;
    height: 180px;
}

.activityContainer {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    min-width: 540px;
    background-color: rgba(0, 0, 0, 0.03);
}

#staticMap {
    margin-bottom: 10px;
}

#activityStats {
    margin: auto;
    width: 460px;
    padding: 5px;
}

.activityRow {
    display: flex;
}

.activityColumn {
    flex: 33%;
}

