body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

th {
    background-color: #18bc9c;
    color: white;
}

#mainRow {
    margin-top: 60px;
}

.bold {
    font-weight: bold;
    display: inline;
}

.inline {
    all: unset;
    display: inline;
}

#chartDiv {
    margin-top: 20px;
    width: 100%;
    min-width: 750px;
    min-width: 750px;
    height: 182px;
}

#uploadFileDiv {
    margin-top: 40px;
}

#chooseMap {
    display: inline-block;
    margin-top: 60px;
}

#dropDownList {
    margin-bottom: 100px;
}

.routesOperationsTitle {
    margin-top: 60px;
}

#deleteButton {
    margin-bottom: 20px;
}
